/* --- GLOBALS START --- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

:root {
    --bg-color: #78acb6;
    --card-color: #aee3ee;
    --font-color: #2C3039;
    --border-color: rgba(255, 255, 255, 0.3);
}

html, body {
    overflow-x: hidden;
    font-family: 'Goldman', cursive;
    color: var(--font-color);
}

h1 {
    color: rgb(199, 196, 196);
    font-size: 4rem;
    font-weight: 400;
}

.screen {
    width: 100vw;
    height: 100vh;
    background-image: url(images/space.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    position: relative;
}

.remove-mode {
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(250, 0, 0, 0.3);
    background: rgba(250, 0, 0, 0.3);
}

/* --- GLOBALS END --- */

/* --- TASKS START --- */

.container {
    width: 600px;
    margin-bottom: 10px;
    padding: 50px;
    background-image: linear-gradient(135deg, rgba(16, 216, 219, 0.3), rgba(148, 187, 233, 0.3));
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border: 1px solid var(--border-color);
    backdrop-filter: blur(2px);
    box-shadow: 0 10px 50px -10px rgba(0, 0, 0, 0.5);
    transition: all .3s ease-in;
}

.container::before {
    content: '';
    clip-path: polygon(0% 15%, 0% 100%, 5% 100%, 10% 80%, 35% 80%, 40% 65%, 60% 65%, 65% 80%, 90% 80%, 95% 100%, 100% 100%, 100% 15%, 95% 0%, 80% 0%, 75% 20%, 65% 20%, 60% 0%, 40% 0%, 35% 20%, 25% 20%, 20% 0%, 5% 0%);
    position: absolute;
    left: -3;
    top: -20;
    width: 606px;
    height: 40px;
    background-image: linear-gradient(180deg, #328097, #0ED2F7 90%);
}

.container::after {
    content: '';
    clip-path: polygon(0% 0%, 0% 70%, 5% 100%, 15% 100%, 20% 80%, 80% 80%, 85% 100%, 95% 100%, 100% 70%, 100% 0%, 98% 50%, 95% 50%, 90% 25%, 65% 25%, 60% 45%, 40% 45%, 35% 25%, 10% 25%, 5% 50%, 2% 50%);
    position: absolute;
    left: -3;
    bottom: -20;
    width: 606px;
    height: 40px;
    background-image: linear-gradient(0deg, #328097, #0ED2F7 90%);
}

.myTasks {
    z-index: 9;
    /* transform: translateX(200px); */
    margin-left: 50px;
    margin-right: 50px;
}

.heading {
    margin-bottom: 50px;
}

.input-container {
    display: flex;
    margin-bottom: 20px;
}

input {
    width: 300px;
    height: 40px;
    border: 1px solid #10D8DB;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 10px;
    outline: none;
    background: #acc0db;
    box-shadow: inset 6px 6px 12px #92a3ba, inset -6px -6px 12px #c6ddfc;
}

.btn-container {
    margin-bottom: 50px;
    display: flex;
    width: 400px;
}

.btn {
    width: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border: 1px solid #10D8DB;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: linear-gradient(145deg, #00b4dd, #0097ba);
}

.btn:hover {
    background: #00a8cf;
    box-shadow: inset 20px 20px 68px #008fb0, inset -20px -20px 68px #00c1ee;
    color: #252830;
    font-size: .95rem;
}

.btn-clear-done {
    width: 195px;
    height: 35px;
    border-radius: 5px;
}

.btn-save-tasks {
    width: 195px;
    height: 35px;
    border-radius: 5px;
    margin-left: 10px;
}

.project-btn {
    border: 1px solid #10D8DB;
}

.task-container {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    scrollbar-width: none;
}

.task, .project {
    width: 400px;
    height: 30px;
    background-color: rgb(199, 196, 196);
    border: 1px solid #10D8DB;
    border-radius: 5px;
    background: #acc0db;
    box-shadow: inset 6px 6px 12px #92a3ba, inset -6px -6px 12px #c6ddfc;
    padding-left: 1em;
    padding-top: 5px;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
}

.checked {
    background-color: rgba(199, 196, 196, 0.3);
    color: rgba(44, 48, 57, 0.3);
}

.checked::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-size: 1.875rem;
    font-weight: 900;
    content: '\f058';
    right: -35px;
    top: -2px;
    color: #10D8DB;
    animation: appear .3s;
}

@keyframes appear {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.hide {
    display: none;
}

.trans {
    opacity: .3;
}

.far {
    font-size: 1rem;
}

/* --- TASKS END --- */

/* --- TIMER START --- */

.btn-remove-project {
    width: 195px;
    height: 35px;
    border-radius: 5px;
}

.timer-container {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}

.timer-btn-container {
    justify-content: space-between;
}

.project-btn {
    width: 100px;
    height: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border-radius: 5px;
}

.btn-start {
    background: linear-gradient(145deg, #00e3cb, #00bfab);
}

.btn-start:hover {
    background: #00d4be;
    box-shadow: inset 11px 11px 21px #00d2bc, inset -11px -11px 21px #00d6c0;
    font-size: 0.95rem;
}

.btn-stop {
    background: linear-gradient(145deg, #00b4dd, #0097ba);
}

.btn-stop:hover {
    background: #00a8cf;
    box-shadow: inset 20px 20px 68px #008fb0, inset -20px -20px 68px #00c1ee;
    font-size: 0.95rem;
}

/* --- TIMER END --- */